body{
    padding: 0;
}

.slika{
    text-align: center;
}

.navbar_link{
    width:80%;
}

.slike-red1 {
    width: 70%;
    margin: auto;
    margin-top: 8%;
}

.slike-red1 .slika {
    width: 19%;
    margin-left: 5%;
    float: left;
    display: block;
}

.slike-red1 .slika .slike-red1 {
    width: 100%;
}

.slike-red2 {
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

.slike-red2 .slika {
    width: 15%;
    margin-left: 4%;
    float: left;
    display: block;
}

.slike-red2 .slika .slike-red2 {
    width: 100%;
}

.div-mi .slika {
    margin: auto;
    width: 30%;
    margin-top: 5%;
    text-align: center;
}

.div-mi img,
.slike-red1 img,
.slike-red2 img {
    transition: transform .2s;
}

.div-mi img:hover,
.slike-red1 img:hover,
.slike-red2 img:hover {
    transform: scale(1.2);
}

.dno-slike-imena {
    width: 21%;
}

.dno-slika-mi {
    width: 58%;
    height: 80%;
}