html, body {
    height: auto;
    overflow: auto;
}

.sadrzaj {
    width: 40%;
    margin: 0 3%;
    margin-top: 5%;
    float: left;
}

.sadrzaj .naslov {
    margin-bottom: 20px;
}

.sadrzaj img {
    margin-left: 50%;
    transform: translateX(-50%);
    display: block;
}

.siroka-slika {
    width: 100%;
    overflow: auto;
}

.sadrzaj p {
    width: 100%;
    text-align: center;
}