.sadrzaj ul {
    padding-left: 5%;
    padding-top: 2%;
}

.sadrzaj {
    overflow: auto;
}

.go {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: auto;
}

.go a {
  text-decoration:none;
}