* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color:#333333;
}

a {
    color: navy;
}

a:hover {
    color:red;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: url("../WD/frames_n_pics/wooodeee.png");
    background-repeat: repeat;
    padding-bottom: 100px;
}

.zaglavlje {
    background-image: url("../WD/frames_n_pics/background-wall.jpg");
    width: 100%;
    height: 20%;
}

.logo {
    width: 100%;
    margin-bottom: 5px;
    box-shadow: 2px 6px 20px 2px;
}

.logo-kontejner {
    width: 60%;
    height: auto;
    margin: auto;
}

.mapa {
    background-color: rgb(120, 179, 25);
    width: 120px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

.mapa a {
    text-decoration: none;
}

.mapa div {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    font-weight: 700;
}

.mapa div:hover {
    background-color: rgb(157, 245, 17);
}

.navigacija-kontejner {
    background: url("../WD/frames_n_pics/background-horizontal-nav.jpg");
    width: 100%;
    height: 6%;
    position: absolute;
}

nav ul {
    width: 100%;
    height: 100%;
}

nav img {
    width: 75%;
    height: 98%;
    transition: transform .2s;
    border: 0.3px bisque solid;
}

.navbar_link:hover {
    transform: scale(1.2);
}

nav li {
    font-size: 1em;
    height: 100%;
    float: left;
    display: block;
    line-height: 2em;
    width: 10%;
    text-align: center;
}

/* Kontejner sa sadrzajem */
.sadrzaj {
    background: bisque;
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 1em;
    border-radius: 5px;
    font-size: 1.3rem;
    border: 0.3px white solid;
    box-shadow: 1px 5px 30px 1px;
    /* overflow: auto; */
}

.sadrzaj img {
    float: left;
    width: 30%;
    margin-right: 20px;
    margin-bottom: 20px;
    height: auto;
}

.prvi {
    margin-top: 10%;
}

/* Strelica za nazad */
.back {
    width: 50px;
    height: 50px;
    bottom: 30px;
    left: 30px;
    border-radius: 50%;
    background: bisque;
    position: fixed;
    box-shadow: 0 3px 10px black;
    transition: transform .2s;
}

.back:hover {
    transform: scale(1.3);
}

.back a {
    position: absolute;
}

.back img {
    width: 100%;
    height: 100%;
}

.naslov{
    text-align: center;
    font-weight: 600;
    font-style: italic;
}